{% extends "base.html.twig" %}

{% block title %}error404{% endblock %}

{% block titre %}Erreur 404 : not found{% endblock %}
{% block bodyMain %}
    <h2>You found a dead link !</h2>
    <figure>
        <img src="/images/dead-links.png" alt="dead link, for 404 error dead link lol">
    </figure>
{% endblock %}