{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block titre %}Accueil{% endblock %}
{% block bodyMain %}
    <h1 class="text-center">Bienvenue dans le Framework Projet_3WA_PHP !</h1>
    <header>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus at pariatur nihil repellat debitis ipsam iure, placeat animi a quod explicabo officia quibusdam eos! Dicta voluptatem culpa doloremque eaque. Consectetur.
    </header>
    <aside>
        <div></div>
        <div></div>
    </aside>
{% endblock %}