{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block titre %}Accueil{% endblock %}
{% block bodyMain %}
    <h1 class="text-center">Bienvenue dans le Framework Projet_3WA_PHP !</h1>
{% endblock %}