{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block titre %}Accueil{% endblock %}
{% block body %}
    <h2>Bienvenue dans le Framework Projet_3WA_PHP !</h2>
{% endblock %}